.modal-btn-rose {
  border: 0;
  margin: 0;
  padding: 7px 12px;
  background-color: var(--accent-text-color);
  border-radius: 20px;
  color: var(--primary-text-color);
  cursor: pointer;
}

.modal-btn-white {
  border: 0;
  margin: 0;
  padding: 7px 12px;
  background-color: var(--primary-text-color);
  border-radius: 20px;
  color: var(--accent-text-color);
  cursor: pointer;
}
