:root {
  --accent-text-color: #d41443;
  --primary-text-color: #ffffff;
  --subtitle-text-color: #ffa5ba;
  --secondary-text-color: #000000;
  --description-text-color: #907e82;
  --primary-text-family: 'DM Sans', sans-serif;
  --secondary-text-family: 'Titan One', sans-serif;

  --bg-product-one-color: #ffb8ca;
  --bg-product-two-color: #f0d1a5;
  --bg-product-three-color: #c2e297;
  --bg-product-one-modal: #f88ca5;
  --bg-product-two-modal: #e8c086;
  --bg-product-three-modal: #acd17b;
}
