<section>
  <div class="backdrop backdrop-hero is-hidden" data-modal-hero>
    <div class="modal hero__modal">
      <button class="close-modal" type="button" data-modal-hero-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>

      <iframe class="hero__video" width="560" height="315" src="https://www.youtube.com/embed/-8MPE74pq4w" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      
    </div>
  </div>
</section>

