<section class="modal-window">
  <div class="backdrop backdrop-about is-hidden" data-modal-about>
    <div class="modal">
      <button class="close-modal" type="button" data-modal-about-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      
      <p class="modal-title-main">7 facts about ice-cream</p>
      <ul class="about__modal-fact">
        <li class="about__modal-list">
          <h3 class="about__modal-title"> <span class="about__modal-numero">#1</span> China is the motherland of ice-cream </h3> 
          <p class="about__modal-text">The first mention of ice cream appeared more than 4,000 years ago in ancient China. At that time, special preparations
          were made for rulers. Delicacy - a mixture of snow and ice with pieces of oranges, lemons and pomegranate seeds.</p>
        </li>
        <li class="about__modal-list">
          <h3 class="about__modal-title"> <span class="about__modal-numero">#2</span>For ice cream tasting, professionals use gold spoons</h3>
          <p class="about__modal-text">Gold has no taste or smell, so professional tasters use spoons of this precious metal to
          ice cream ratings.</p>
        </li>
        <li class="about__modal-list">
          <h3 class="about__modal-title"> <span class="about__modal-numero">#3</span>Ice cream makes your throat stronger</h3>
          <p class="about__modal-text">This is the way that everyone, especially children, will like it. Ice cream is positive when used regularly
          The effect on the throat. Of course, the important thing is not to overdo it. If you eat ice cream fast and big
          In pieces, you get the opposite result.</p>
        </li>
        <li class="about__modal-list">
          <h3 class="about__modal-title"><span class="about__modal-numero">#4</span>Every year, the world consumes about 15 billion litres of ice cream</h3>
          <p class="about__modal-text">This is enough to fill 5,000 Olympic swimming pools.</p>
        </li>
        <li class="about__modal-list">
          <h3 class="about__modal-title"><span class="about__modal-numero">#5</span>One order of ice cream is sold every three seconds</h3>
          <p class="about__modal-text">Most ice cream is bought in the summer on weekends.</p>
        </li>
        <li class="about__modal-list">
          <h3 class="about__modal-title"><span class="about__modal-numero">#6</span>Americans are the leaders in ice cream consumption</h3>
          <p class="about__modal-text">On average, every American eats about 20 kilos of ice cream a year.</p>
        </li>
        <li class="about__modal-list">
          <h3 class="about__modal-title"><span class="about__modal-numero">#7</span>Before entering politics, Margaret Thatcher invented soft ice cream</h3>
          <p class="about__modal-text">The former British Prime Minister, Margaret Thatcher, prior to her political career, practiced chemistry and hosted
          participation in the formulation of soft ice cream.</p>
        </li>
      </ul>
     
    </div>
  </div>
</section>

