.modal.hero__modal {
  max-width: 700px;
  max-height: 370px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.modal-title {
  text-align: center;
  font-family: var(--secondary-text-family);
  font-size: 17px;
  line-height: 1.25;
  font-weight: 700;
  color: var(--accent-text-color);
}

.modal-img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #000000;
}

.grass-img {
  position: absolute;
  top: 80px;
  left: 30px;
}

.production-img {
  position: absolute;
  top: 80px;
  right: 30px;
}

.truck-img {
  position: absolute;
  bottom: 25px;
  left: 30px;
}

.people-img {
  position: absolute;
  bottom: 25px;
  right: 30px;
}

.modal-text {
  max-width: 256px;
  margin: 0 auto;
  padding-top: 100px;
  font-family: var(--primary-text-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
}

.icon-for-grass {
  position: absolute;
  top: 70px;
  left: 190px;
}

.icon-for-production {
  position: absolute;
  top: 70px;
  right: 187px;
}

.icon-for-truck {
  position: absolute;
  bottom: 10px;
  right: 206px;
}

.icon-for-people {
  position: absolute;
  bottom: 10px;
  left: 186px;
}

.icon-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
}
