<!-- modal location -->

<section class="modal-window">
  <div class="backdrop is-hidden" data-modal-locations>
    <div class="modal">
      <button class="close-modal" type="button" data-modal-locations-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <p class="modal-title">Это основная модалка !</p>
      <!-- ЗДЕСЬ КОНТЕНТ -->
    </div>
  </div>
</section>


<!-- modal franchisa -->

<section class="modal-window">
  <div class="backdrop is-hidden" data-modal-franchise>
    <div class="modal">
      <button class="close-modal" type="button" data-modal-franchise-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <p class="modal-title">Это основная модалка !</p>
      <!-- ЗДЕСЬ КОНТЕНТ -->
    </div>
  </div>
</section>

