<section class="modal-window">
  <div class="backdrop is-hidden" data-modal-hero>
    <div class="modal hero__modal">
      <button class="close-modal" type="button" data-modal-hero-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <p class="modal-title">Eco production is the most important component of our products!</p>
      <p class="modal-text">Raw materials contribute most to the majority of impacts (>70%). The exception is ozone depletion, which is mainly due
      to refrigerated storage at the retailer (95%). Furthermore, the global warming potential of chocolate ice cream is very
      sensitive to land use change associated with cocoa beans cultivation, increasing the impact by 60%.</p>
       <picture class="modal-img grass-img">
      <source srcset="./images/hero/modal-hero/grass.webp 1x, ./images/hero/modal-hero/grass@2x.webp 2x">
      <source srcset="./images/hero/modal-hero/grass.jpg 1x, ./images/hero/modal-hero/grass@2x.jpg 2x">
            <img src="#" alt="Cows om the grass">
      </picture>
      <div class="modal-icon-thumb">
      <svg class="icon-for-grass" width="130" height="72"> 
        <use href="./images/sprite.svg#icon-for-grass"></use>
      </svg>
      <!-- <p class="icon-text">We eat fresh grass and we have pure milk</p> -->
    </div>
      <picture class="modal-img production-img">
        <source srcset="./images/hero/modal-hero/production.webp 1x, ./images/hero/modal-hero/production@2x.webp 2x">
        <source srcset="./images/hero/modal-hero/production.jpg 1x, ./images/hero/modal-hero/production@2x.jpg 2x">
      
        <img src="#" alt="Production">
      
      
      </picture>
      <svg class="icon-for-production" width="130" height="72">
        <use href="./images/sprite.svg#icon-for-production"></use>
      </svg>
      <!-- <p class="icon-text">We eat fresh grass and we have pure milk</p> -->

      <picture class="modal-img truck-img">
        <source srcset="./images/hero/modal-hero/truck.webp 1x, ./images/hero/modal-hero/truck@2x.webp 2x">
        <source srcset="./images/hero/modal-hero/truck.jpg 1x, ./images/hero/modal-hero/truck@2x.jpg 2x">
      
        <img src="#" alt="Milk">
      
      
      </picture>
      <svg class="icon-for-truck" width="130" height="72">
        <use href="./images/sprite.svg#icon-for-truck"></use>
      </svg>
      <!-- <p class="icon-text">We eat fresh grass and we have pure milk</p> -->

      <picture class="modal-img people-img">
        <source srcset="./images/hero/modal-hero/people.webp 1x, ./images/hero/modal-hero/people@2x.webp 2x">
        <source srcset="./images/hero/modal-hero/people.jpg 1x, ./images/hero/modal-hero/people@2x.jpg 2x">
      
        <img src="#" alt="Milk">
      
      
      </picture>
      <svg class="icon-for-people" width="130" height="72">
        <use href="./images/sprite.svg#icon-for-people"></use>
      </svg>
      <!-- <p class="icon-text">We eat fresh grass and we have pure milk</p> -->
      </div>
    </div>
  </div>
</section>

