<section class="modal-window">
  <div class="backdrop backdrop-header-1 is-hidden" data-modal-header-1>
    <div class="modal">
      <button class="close-modal" type="button" data-modal-header-1-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <p class="modal-header__title">Leave your contact information</p>
      <form class="modal-header__form">
        <label class="modal-header__field">
          <span class="modal-header__item">Name</span>
          <span class="modal-header__input-wrapper">
            <input
              type="text"
              name="user-name"
              class="modal-header__input"
              minlength="2"
              title="Without numbers and symbols"
              required
            />
          </span>
        </label>
        <label class="modal-header__field">
          <span class="modal-header__item">Phone</span>
          <span class="modal-header__input-wrapper">
            <input
              type="tel"
              name="user-phone"
              class="modal-header__input"
              title="+61 (0) 383 766 284"
              required
            />
          </span>
        </label>
        <label class="modal-header__field">
          <span class="modal-header__item">Email</span>
          <span class="modal-header__input-wrapper">
            <input
              type="email"
              name="user-email"
              class="modal-header__input"
              title="adress@email.com"
              required
            />
          </span>
        </label>

        <label class="modal-header__field">
          <span class="modal-header__item">Leave your message</span>
          <textarea
            name="user-message"
            class="modal-header__message"
            placeholder="Message"
          ></textarea>
        </label>
        <button type="submit" class="modal-header__button">Send</button>
      </form>
    </div>
  </div>
</section>

<section class="modal-window">
  <div class="backdrop backdrop-header-2 is-hidden" data-modal-header-2>
    <div class="modal">
      <button class="close-modal" type="button" data-modal-header-2-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <p class="modal-header__title">Leave your contact information</p>
      <form class="modal-header__form">
        <label class="modal-header__field">
          <span class="modal-header__item">Name</span>
          <span class="modal-header__input-wrapper">
            <input
              type="text"
              name="user-name"
              class="modal-header__input"
              minlength="2"
              title="Without numbers and symbols"
              required
            />
          </span>
        </label>
        <label class="modal-header__field">
          <span class="modal-header__item">Phone</span>
          <span class="modal-header__input-wrapper">
            <input
              type="tel"
              name="user-phone"
              class="modal-header__input"
              title="+61 (0) 383 766 284"
              required
            />
          </span>
        </label>
        <label class="modal-header__field">
          <span class="modal-header__item">Email</span>
          <span class="modal-header__input-wrapper">
            <input
              type="email"
              name="user-email"
              class="modal-header__input"
              title="adress@email.com"
              required
            />
          </span>
        </label>

        <label class="modal-header__field">
          <span class="modal-header__item">Leave your message</span>
          <textarea
            name="user-message"
            class="modal-header__message"
            placeholder="Message"
          ></textarea>
        </label>
        <button type="submit" class="modal-header__button">Send</button>
      </form>
    </div>
  </div>
</section>
