<section class="modal-window">
  <div class="backdrop is-hidden" data-modal-about>
    <div class="modal">
      <button class="close-modal" type="button" data-modal-about-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      
      <p class="modal-title-main">7 фактов про мороженое</p>
      <ul class="about__modal-fact">
        <li class="about__modal-list">
          <h3 class="about__modal-title"> <span class="about__modal-numero">#1</span> Китай – родина мороженого </h3> 
          <p class="about__modal-text">Первые упоминания о мороженом появились более 4000 лет назад в Древнем Китае. В то время для правителей готовили особое
          лакомство – смесь из снега и льда с кусочками апельсинов, лимонов и зёрен граната.</p>
        </li>
        <li class="about__modal-list">
          <h3 class="about__modal-title"> <span class="about__modal-numero">#2</span>Для дегустации мороженого профессионалы используют золотые ложки</h3>
          <p class="about__modal-text">Золото не имеет вкуса и запаха, поэтому профессиональные дегустаторы используют ложки из этого драгоценного металла для
          оценки мороженого.</p>
        </li>
        <li class="about__modal-list">
          <h3 class="about__modal-title"> <span class="about__modal-numero">#3</span>Мороженое помогает закалить горло</h3>
          <p class="about__modal-text">Такой способ закалки понравится всем, в особенности детям. При регулярном употреблении мороженое оказывает положительный
          эффект на горло. Конечно, в этом деле главное не переусердствовать. Если вы будете есть мороженое быстро и большими
          кусками, то получите совершенно противоположный результат.</p>
        </li>
        <li class="about__modal-list">
          <h3 class="about__modal-title"><span class="about__modal-numero">#4</span>Каждый год в мире потребляется около 15 миллиардов литров мороженого</h3>
          <p class="about__modal-text">Этого достаточно для того, чтобы заполнить 5000 олимпийских плавательных бассейнов.</p>
        </li>
        <li class="about__modal-list">
          <h3 class="about__modal-title"><span class="about__modal-numero">#5</span>Каждые три секунды продается одна порция мороженого</h3>
          <p class="about__modal-text">Больше всего мороженого покупают летом в выходные дни.</p>
        </li>
        <li class="about__modal-list">
          <h3 class="about__modal-title"><span class="about__modal-numero">#6</span>Американцы – лидеры по потреблению мороженого</h3>
          <p class="about__modal-text">В среднем каждый американец съедает около 20 килограммов мороженого в год.</p>
        </li>
        <li class="about__modal-list">
          <h3 class="about__modal-title"><span class="about__modal-numero">#7</span>До прихода в политику Маргарет Тэтчер изобрела мягкое морожено</h3>
          <p class="about__modal-text">Бывший премьер министр Великобритании Маргарет Тэтчер до начала политической карьеры занималась химией и принимала
          участие в разработке рецептуры мягкого мороженого.</p>
        </li>
      </ul>
     
    </div>
  </div>
</section>

