<section class="modal-window">
  <div class="backdrop-team is-hidden-team" data-modal-team>
    <div class="modal-team-container">
      <button class="close-modal" type="button" data-modal-team-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <div class="modal-team">
        <p class="modal-team__title">phoenix team</p>
        <div class="modal-team__content">
          <ul class="modal-team__content-list">
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./images/team/alyona.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./images/team/alyona-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./images/team/alyona-mobile.jpg" alt="Alyona" />
              </picture>
              <p class="modal-team__teammate-name">Alyona</p>
            </li>
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./images/team/svitlana.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./images/team/svitlana-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./images/team/svitlana-mobile.jpg" alt="Yurii" />
              </picture>
              <p class="modal-team__teammate-name">Svitlana</p>
            </li>
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./images/team/yurii.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./images/team/yurii-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./images/team/yurii-mobile.jpg" alt="Yurii" />
              </picture>
              <p class="modal-team__teammate-name">Yurii</p>
            </li>
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./images/team/sergii.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./images/team/sergii-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./images/team/sergii-mobile.jpg" alt="Yurii" />
              </picture>
              <p class="modal-team__teammate-name">Sergii</p>
            </li>
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./images/team/vitalii.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./images/team/vitalii-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./images/team/vitalii-mobile.jpg" alt="Yurii" />
              </picture>
              <p class="modal-team__teammate-name">Vitalii</p>
            </li>
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./images/team/vlad.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./images/team/vlad-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./images/team/vlad-mobile.jpg" alt="Yurii" />
              </picture>
              <p class="modal-team__teammate-name">Vlad</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
