<!-- Модалка в файл modal-product-1.html -->

<section class="modal-window">
  <div class="backdrop backdrop-product-1 is-hidden" data-modal-product-1>
    <div class="modal modal-product-1-container">
      <button class="close-modal close-modal-product" type="button" data-modal-product-1-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <div class="modal-product-1">
        <p class="modal-product__title">ice cream</p>
        <div class="modal-product__content">
          <ul class="modal-product__content-list">
            <li class="product-example">
              <p class="product-example__title">Rolled Ice Cream</p>
              <picture class="picture">
                <source
                  srcset="./images/products/modal/icecream-1.jpg 1x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/products/modal/icecream-1.webp 1x"
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="./images/products/modal/icecream-1-mobile.jpg 1x"
                  media="(max-width: 767px)"
                />
                <img
                  class="product-example__pic"
                  src="./images/products/modal/icecream-1-mobile.jpg"
                  alt="Rolled Ice Cream"
                />
              </picture>
              A fascinating concept to most, rolled-up strips of ice cream is actually a very common
              street food in Thailand, Malaysia, Cambodia, and the Philippines. Even more surprising
              is that the entire process — pouring the ice cream mixture, chopping, mixing add-ins,
              and perfectly spiraling the ice cream — only takes about two minutes.
            </li>
            <li class="product-example">
              <p class="product-example__title">Snow Cream</p>
              <picture class="picture">
                <source
                  srcset="./images/products/modal/icecream-2.jpg 1x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/products/modal/icecream-2.webp 1x"
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="./images/products/modal/icecream-2-mobile.jpg 1x"
                  media="(max-width: 767px)"
                />
                <img
                  class="product-example__pic"
                  src="./images/products/modal/icecream-2-mobile.jpg"
                  alt="Snow Cream"
                />
              </picture>
              Order ice cream in Taiwan and you'll get a dish of heavenly, fluffy sweets. After
              freezing a giant cube of milk and water, ice cream makers shave it into insanely thin
              strips and then top it with boba, fresh fruit, sweetened condensed milk, chocolate,
              and more.
            </li>
            <li class="product-example">
              <p class="product-example__title">Kulfi</p>
              <picture class="picture">
                <source
                  srcset="./images/products/modal/icecream-3.jpg 1x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/products/modal/icecream-3.webp 1x"
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="./images/products/modal/icecream-3-mobile.jpg 1x"
                  media="(max-width: 767px)"
                />
                <img
                  class="product-example__pic"
                  src="./images/products/modal/icecream-3-mobile.jpg"
                  alt="Kulfi"
                />
              </picture>
              Ice cream in India is more like custard than anything else. It's thick and dense and
              takes longer to melt, which makes it perfect for serving on a stick. Flavors are more
              on the savory side, with options like saffron, cardamom, and rose.
              <p class="copyright">from delish.com</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Модалка в файл modal-product-2.html -->

<section class="modal-window">
  <div class="backdrop backdrop-product-2 is-hidden" data-modal-product-2>
    <div class="modal modal-product-2-container">
      <button class="close-modal close-modal-product" type="button" data-modal-product-2-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <div class="modal-product">
        <p class="modal-product__title">ice coffee</p>
        <div class="modal-product__content">
          <ul class="modal-product__content-list">
            <li class="product-example">
              <p class="product-example__title">Banana Milk Coffee</p>
              <picture class="picture">
                <source
                  srcset="./images/products/modal/icecoffee-1.jpg 1x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/products/modal/icecoffee-1.webp 1x"
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="./images/products/modal/icecoffee-1-mobile.jpg 1x"
                  media="(max-width: 767px)"
                />
                <img
                  class="product-example__pic"
                  src="./images/products/modal/icecoffee-1-mobile.jpg"
                  alt="Banana Milk Coffee"
                />
              </picture>
              &#34;Adding creamy smooth banana milk to your morning cold brew makes it taste rich
              and delicious,&#34; says foodelicious. &#34;Talk about an eye-opening good-for-you
              breakfast in a cup!&#34;
            </li>
            <li class="product-example">
              <p class="product-example__title">Chocolate-y Iced Mocha</p>
              <picture class="picture">
                <source
                  srcset="./images/products/modal/icecoffee-2.jpg 1x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/products/modal/icecoffee-2.webp 1x"
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="./images/products/modal/icecoffee-2-mobile.jpg 1x"
                  media="(max-width: 767px)"
                />
                <img
                  class="product-example__pic"
                  src="./images/products/modal/icecoffee-2-mobile.jpg"
                  alt="Chocolate-y Iced Mocha"
                />
              </picture>
              Cocoa, almond milk, and chocolate syrup get the day off to a sweet start. &#34;I tried
              this and fell in love,&#34; says yellwdaisy. &#34;The almond milk gives it a smooth
              taste. And I like the fact you don't have to feel guilty for enjoying such a flavorful
              drink.&#34;
            </li>
            <li class="product-example">
              <p class="product-example__title">Vietnamese Iced Coffee</p>
              <picture class="picture">
                <source
                  srcset="./images/products/modal/icecoffee-3.jpg 1x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/products/modal/icecoffee-3.webp 1x"
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="./images/products/modal/icecoffee-3-mobile.jpg 1x"
                  media="(max-width: 767px)"
                />
                <img
                  class="product-example__pic"
                  src="./images/products/modal/icecoffee-3-mobile.jpg"
                  alt="Vietnamese Iced Coffee"
                />
              </picture>
              Strong coffee over ice with sweetened condensed milk is an unbeatable Southeast Asian
              treat. &#34;We learned this in Vietnam,&#34; say Joseph and Joyanna, &#34;and now
              drink almost all our espresso this way. Serve it on hot summer days or as an evening
              treat.&#34;
              <p class="copyright">from www.allrecipes.com</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Модалка в файл modal-product-3.html -->

<section class="modal-window">
  <div class="backdrop backdrop-product-3 is-hidden" data-modal-product-3>
    <div class="modal modal-product-3-container">
      <button class="close-modal close-modal-product" type="button" data-modal-product-3-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <div class="modal-product">
        <p class="modal-product__title">milkshakes</p>
        <div class="modal-product__content">
          <ul class="modal-product__content-list">
            <li class="product-example">
              <p class="product-example__title">Cool mint</p>
              <picture class="picture">
                <source
                  srcset="./images/products/modal/milkshake-1.jpg 1x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/products/modal/milkshake-1.webp 1x"
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="./images/products/modal/milkshake-1-mobile.jpg 1x"
                  media="(max-width: 767px)"
                />
                <img
                  class="product-example__pic"
                  src="./images/products/modal/milkshake-1-mobile.jpg"
                  alt="Cool mint"
                />
              </picture>
              For 2 shakes, drizzle Cottee’s Ice Magic Choc Mint around 2 glasses. Blend 1 drop
              peppermint essence and 2 drops green food colouring with the Basic Milkshake. Divide
              between glasses, top with chocolate ice-cream and decorate with Nestle Aero Peppermint
              Bubbles and a Mini Corinthian wafer.
            </li>
            <li class="product-example">
              <p class="product-example__title">Raspberry and white chocolate</p>
              <picture class="picture">
                <source
                  srcset="./images/products/modal/milkshake-2.jpg 1x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/products/modal/milkshake-2.webp 1x"
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="./images/products/modal/milkshake-2-mobile.jpg 1x"
                  media="(max-width: 767px)"
                />
                <img
                  class="product-example__pic"
                  src="./images/products/modal/milkshake-2-mobile.jpg"
                  alt="Raspberry and white chocolate"
                />
              </picture>
              Dissolve 1 tbs raspberry jelly crystals with 1 tbs boiling water. Add 1 tbs cold
              water. Pour into a serving glass. Place in fridge for 2 hours or until set. Dip rim in
              finely grated white chocolate. Add 70g melted white chocolate to Basic Milkshake.
              Blend. Pour over jelly. Serve with a mini pink iced doughnut.
            </li>
            <li class="product-example">
              <p class="product-example__title">Apple pie puff</p>
              <picture class="picture">
                <source
                  srcset="./images/products/modal/milkshake-3.jpg 1x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/products/modal/milkshake-3.webp 1x"
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="./images/products/modal/milkshake-3-mobile.jpg 1x"
                  media="(max-width: 767px)"
                />
                <img
                  class="product-example__pic"
                  src="./images/products/modal/milkshake-3-mobile.jpg"
                  alt="Apple pie puff"
                />
              </picture>
              Preheat oven to 220C/200C fan forced. Cut 3 discs of different sizes from 1 sheet of
              defrosted puff pastry. Sprinkle with cinnamon sugar. Make a hole, large enough for a
              straw to fit, in each disc. Bake for 8 minutes or until golden. Make Basic Milkshake,
              with 1/2 cup canned pie apples and a generous sprinkle of cinnamon sugar. Blend. Place
              extra pie apple into the base of a glass. Pour over milkshake. Top with whipped cream.
              Sprinkle with ground cinnamon. Thread the pastry discs onto the straw.
              <p class="copyright">from www.taste.com.au</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
