<section class="modal-window">
  <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button class="close-modal" type="button" data-modal-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <p class="modal-title">Это основная модалка !</p>
      <!-- ЗДЕСЬ КОНТЕНТ -->
    </div>
  </div>
</section>

<!-- Модалка в файл modal-product-1.html -->

<section class="modal-window">
  <div class="backdrop is-hidden" data-modal-product-1>
    <div class="modal">
      <button class="close-modal" type="button" data-modal-product-1-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <p class="modal-title">Это модалка первого продукта !</p>
    </div>
  </div>
</section>

<!-- Модалка в файл modal-product-2.html -->

<section class="modal-window">
  <div class="backdrop is-hidden" data-modal-product-2>
    <div class="modal">
      <button class="close-modal" type="button" data-modal-product-2-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <p class="modal-title">Это модалка второго продукта !</p>
    </div>
  </div>
</section>

<!-- Модалка в файл modal-product-3.html -->

<section class="modal-window">
  <div class="backdrop is-hidden" data-modal-product-3>
    <div class="modal">
      <button class="close-modal" type="button" data-modal-product-3-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <p class="modal-title">Это модалка третьего продукта !</p>
    </div>
  </div>
</section>
