<section class="container about ">
    <div class="about__label-piece">
<p class="about__label">tradition and love</p>
<h2 class="about__title">how it’s made?</h2>
</div>
<div>
    <picture>
      <source srcset="./images/about/cow.web.webp 1x, ./images/about/cow@2x.webp 2x" media="(min-width:1200px)"
        type="image/webp">
      <source srcset="./images/about/cow.png 1x, ./images/about/cow@2x.png 2x" media="(min-width:1200px)">
      <source srcset="./images/about/cow-tab.webp 1x, ./images/about/cow-tab@2x.webp 2x" media="(min-width:768px)"
        type="image/webp">
      <source srcset="./images/about/cow-tab.png 1x, ./images/about/cow-tab@2x.png 2x" media="(min-width:768px)">
      <source srcset="./images/about/cow-mob.webp 1x, ./images/about/cow-mob@2x.webp 2x" media="(max-width:767px)"
        type="image/webp">
      <source srcset="./images/about/cow-mob.png 1x, ./images/about/cow-mob@2x.png 2x" media="(max-width:767px)">
      <img class="about__image" src="./images/about/cow.png">
    </picture>
<p class="about__main-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
Maecenas eleifend erat at justo fringilla.</p>
<p>
Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
</P>
<P class="about__text">
Aliquam erat volutpat. Aenean accumsan.
</p>
<button type="button" class="about__button">Read more
<!-- <svg>
    <use></use>
</svg> -->
</button>
</div>
<div>
<ul class="list">
    <li>
    <!-- <svg>
        <use></use>
    </svg> -->
    <p class="about__point">721</p>
    <p class="about__point-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li>
        <!-- <svg>
            <use></use>
        </svg> -->
        <p class="about__point">16kg</p>
        <p class="about__point-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li>
        <!-- <svg>
            <use></use>
        </svg> -->
        <p class="about__point">84</p>
        <p class="about__point-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
</ul>
</div>
</section>