<section class="customer-reviews">
    <div class="container">
        <h2 class="visually-hidden">Customer reviews</h2>
        <div class="customer-reviews__slider">
            <div class="customer-reviews__slide">
                <picture class="customer-reviews__photo">
                    <source srcset="./images/customer-reviews/testimonials-1.webp 1x, ./images/customer-reviews/testimonials-1@2x.webp 2x"
                    type="image/webp">
                    <img href="#" alt="Customer photo">
                </picture>
                <div class="customer-reviews__reviews--wrapper">
                    <p class="customer-reviews__reviews">
                    <span class="customer-reviews__wrapper-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</span>
                </p>
                </div>
                <p class="customer-reviews__location">
                    Emily, Los Angeles
                </p>
                <ul class="customer-reviews__slide-button">
                    <li class="customer-reviews__slide-button-item">
                        <svg class="customer-reviews__slide-button-house" width="12px" height="12px">
                            <use href="../src/images/sprite.svg#icon-reviews-house"></use>
                        </svg>
                    </li>
                    <li class="customer-reviews__slide-button-item">
                        <svg class="customer-reviews__slide-button-dots" width="12px" height="12px">
                            <use href="../src/images/sprite.svg#icon-reviews-dot"></use>
                        </svg>
                    </li>
                    <li class="customer-reviews__slide-button-item">
                        <svg class="customer-reviews__slide-button-dots" width="12px" height="12px">
                            <use href="../src/images/sprite.svg#icon-reviews-dot"></use>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
    </dev>
</section>