<section class="gallery__section">
    <div class="container">
        <h2 class="gallery__title visually-hidden">Gallery of icecream</h2>
        <picture>
            <source srcset="../src/images/gallery/gallery-desktop.webp 1x, ../src/images/gallery/gallery-desktop@2x.webp 2x"
                media="(min-width:1200px)" type="image/webp">
            <source srcset="../src/images/gallery/gallery-desktop.jpg 1x, ../src/images/gallery/gallery-desktop@2x.jpg 2x"
                media="(min-width:1200px)">
            <source srcset="../src/images/gallery/gallery-tablet.webp 1x, ../src/images/gallery/gallery-tablet@2x.webp 2x"
                media="(min-width:768px)" type="image/webp">
            <source srcset="../src/images/gallery/gallery-desktop.jpg 1x, ../src/images/gallery/gallery-desktop@2x.jpg 2x"
                media="(min-width:768px)">
            <source srcset="../src/images/gallery/gallery-mobile.webp 1x, ../src/images/gallery/gallery-mobile@2x.webp 2x"
                media="(max-width:767px)" type="image/webp">
            <source srcset="../src/images/gallery/gallery-mobile.jpg 1x, ../src/images/gallery/gallery-mobile@2x.jpg 2x"
                media="(max-width:767px)">
            <img class="gallery__photo" src="#" alt="Photo with icecream">
        </picture>
    </div>
</section>