<section class="gallery__section">
    <div class="container">
        <h2 class="gallery__title visually-hidden">Gallery of icecream</h2>
        <div class="wrapper-gallery">
        <div class="gallery-wrapper-item-1"><picture>
            <source srcset="../src/images/gallery/gallery-grid/gallery-1.png 1x, ../src/images/gallery/gallery-grid/gallery-1@2x.png 2x">
            <img  class="gallery-img" src="#" alt="icecream" width="140">
        </picture></div>
        <div class="gallery-wrapper-item-2"><picture>
            <source srcset="../src/images/gallery/gallery-grid/gallery-2.png 1x, ../src/images/gallery/gallery-grid/gallery-2@2x.png 2x">
            <img  class="gallery-img" src="#" alt="icecream" width="140">
        </picture></div>
        <div class="gallery-wrapper-item-3"><picture>
            <source srcset="../src/images/gallery/gallery-grid/gallery-3.png 1x, ../src/images/gallery/gallery-grid/gallery-3@2x.png 2x">
            <img  class="gallery-img" src="#" alt="icecream" width="140">
        </picture></div>
        <div class="gallery-wrapper-item-4"><picture>
            <source srcset="../src/images/gallery/gallery-grid/gallery-4.png 1x, ../src/images/gallery/gallery-grid/gallery-4@2x.png 2x">
            <img  class="gallery-img" src="#" alt="icecream" width="140">
        </picture></div>
        <div class="gallery-wrapper-item-6"><picture>
            <source srcset="../src/images/gallery/gallery-grid/gallery-6.png 1x, ../src/images/gallery/gallery-grid/gallery-6@2x.png 2x">
            <img  class="gallery-img" src="#" alt="icecream" width="140">
        </picture></div>
        <div class="gallery-wrapper-item-7"><picture>
            <source srcset="../src/images/gallery/gallery-grid/gallery-7.png 1x, ../src/images/gallery/gallery-grid/gallery-7@2x.png 2x">
            <img  class="gallery-img" src="#" alt="icecream" width="140">
        </picture></div>
        <div class="gallery-wrapper-item-8"><picture>
            <source srcset="../src/images/gallery/gallery-grid/gallery-8.png 1x, ../src/images/gallery/gallery-grid/gallery-8@2x.png 2x">
            <img  class="gallery-img" src="#" alt="icecream" width="140">
        </picture></div>
        <div class="gallery-wrapper-item-9"><picture>
            <source srcset="../src/images/gallery/gallery-grid/gallery-9.png 1x, ../src/images/gallery/gallery-grid/gallery-9@2x.png 2x">
            <img  class="gallery-img" src="#" alt="icecream" width="140">
        </picture></div>
        <div class="gallery-wrapper-item-10"><picture>
            <source srcset="../src/images/gallery/gallery-grid/gallery-10.png 1x, ../src/images/gallery/gallery-grid/gallery-10@2x.png 2x">
            <img  class="gallery-img" src="#" alt="icecream" width="140">
        </picture></div>   
        <div class="gallery-wrapper-item-5">
            <picture>
                <source
                    srcset="../src/images/gallery/gallery-grid/gallery-5.png 1x, ../src/images/gallery/gallery-grid/gallery-5@2x.png 2x">
                <img class="gallery-img" src="#" alt="icecream" width="280">
            </picture>
        </div>
    </div>
    
    </div>
</section>