<section class="hero">
  <div class="hero__thumb container">
    
      <div class="hero__information">
  <h1 class="hero__title">ice cream made with <span class="hero__title-end">passion</span></h1>
  <ul class="hero__btn-list">
    <li class="hero__btn-item"><button class="hero__btn-rose modal-btn-rose" type="button">Products</button></li>
    <li class="hero__btn-item"><button class="hero__btn-white modal-btn-white" type="button">How it’s made?</button></li>
  </ul>
  </div>
  <div class="bg-elipse">
  <picture class="hero__ice-cream-img">
  
    <source srcset="./images/hero/ice-cream-desktop.webp 1x, ./images/hero/ice-cream-desktop@2x.webp 2x"
      media="(min-width: 1200px)" type="image/webp">
    <source srcset="./images/hero/ice-cream-desktop.png 1x, ./images/hero/ice-cream-desktop@2x.png 2x"
      media="(min-width: 1200px)">
  
    <source srcset="./images/hero/ice-cream-tablet.webp 1x, ./images/hero/ice-cream-tablet@2x.webp 2x"
      media="(min-width: 768px)" type="image/webp">
    <source srcset="./images/hero/ice-cream-tablet.png 1x, ./images/hero/ice-cream-tablet@2x.png 2x"
      media="(min-width: 768px)">
  
    <source srcset="./images/hero/ice-cream-mobile.webp 1x, ./images/hero/ice-cream-mobile@2x.webp 2x"
      media="(max-width: 767px)" type="image/webp">
    <source srcset="./images/hero/ice-cream-mobile.png 1x, ./images/hero/ice-cream-mobile@2x.png 2x"
      media="(max-width: 767px)">
  
    <img src="#" alt="Ice Cream">
  
  
  </picture>
  
  <ul class="hero__representations">
    <li>
      <p class="representations-number">16</p>
      <p class="representations-type">cafes</p>
    </li>
    <li>
      <p class="representations-number">23</p>
      <p class="representations-type">food trucks</p>
    </li>
  </ul>
  <picture class="hero__milk-img">
  
    <source srcset="./images/hero/hero-milk-desktop.webp 1x, ./images/hero/hero-milk-desktop@2x.webp 2x"
      media="(min-width: 1200px)" type="image/webp">
    <source srcset="./images/hero/hero-milk-desktop.png 1x, ./images/hero/hero-milk-desktop@2x.png 2x"
      media="(min-width: 1200px)">
  
    <source srcset="./images/hero/hero-milk-tablet.webp 1x, ./images/hero/hero-milk-tablet@2x.webp 2x"
      media="(min-width: 768px)" type="image/webp">
    <source srcset="./images/hero/hero-milk-tablet.png 1x, ./images/hero/hero-milk-tablet@2x.png 2x"
      media="(min-width: 768px)">
  
    <img src="#" alt="Milk">
  
  
  </picture>
  
  <p class="hero__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et</p>
  <button class="hero__desc-btn" type="button">-></button>
  <picture class="hero__girl-img">
  
    <source srcset="./images/hero/girl-desktop.webp 1x, ./images/hero/girl-desktop@2x.webp 2x"
      media="(min-width: 1200px)" type="image/webp">
    <source srcset="./images/hero/girl-desktop.png 1x, ./images/hero/girl-desktop@2x.png 2x"
      media="(min-width: 1200px)">
  
    <source srcset="./images/hero/girl-tablet.webp 1x, ./images/hero/girl-tablet@2x.webp 2x"
      media="(min-width: 768px)" type="image/webp">
    <source srcset="./images/hero/girl-tablet.png 1x, ./images/hero/girl-tablet@2x.png 2x"
      media="(min-width: 768px)">
  
    <img src="#" alt="girl with icr cream">
  
  
  </picture>

  </div>
  </div>
</section>