<section class="products">
  <div class="products__container container">
    <p class="products__top-label">100% natural</p>
    <h2 class="products__header">products</h2>
    <ul class="products__list">
      <li class="products__element product-one">
        <h3 class="products__element-name product-one-pic">ice cream</h3>
        <div class="description-container">
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <div class="description-link">
            <!-- <a href="" class="products__addit-description"> -->
            <button class="products__addit-description" type="button" data-modal-open>
              <svg class="products__arrow-right" width="16px" height="16px">
                <use href="./images/products/icons.svg#arrow-right"></use>
              </svg>
            </button>

            <!-- </a> -->
          </div>
        </div>
      </li>
      <li class="products__element product-two">
        <h3 class="products__element-name product-two-pic">ice coffee</h3>
        <div class="description-container">
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <div class="description-link">
            <button class="products__addit-description" type="button" data-modal-open>
              <svg class="products__arrow-right" width="16px" height="16px">
                <use href="./images/products/icons.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products__element product-three">
        <h3 class="products__element-name product-three-pic">milkshakes</h3>
        <div class="description-container">
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <div class="description-link">
            <button class="products__addit-description" type="button" data-modal-open>
              <svg class="products__arrow-right" width="16px" height="16px">
                <use href="./images/products/icons.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
