<section class="products">
  <div class="products__container container">
    <p class="products__top-label">100% natural</p>
    <h2 class="products__header">products</h2>
    <ul class="products__elements">
      <li class="products__element">
        <h3 class="products__element-name">ice cream</h3>
         <svg class="products__three-dots" width="139px" height="32px">
          <use href="./images/products/icons.svg#three-dots"></use>
        </svg>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="" class="products__addit-description">
          <svg class="products__arrow-right" width="32px" height="32px">
            <use href="./images/products/icons.svg#arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="products__element">
        <h3 class="products__element-name">ice coffee</h3>
         <svg class="products__three-dots" width="139px" height="32px">
          <use href="./images/products/icons.svg#three-dots"></use>
        </svg>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="" class="products__addit-description">
          <svg class="products__arrow-right" width="32px" height="32px">
            <use href="./images/products/icons.svg#arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="products__element">
        <h3 class="products__element-name">milkshakes</h3>
         <svg class="products__three-dots" width="139px" height="32px">
          <use href="./images/products/icons.svg#three-dots"></use>
        </svg>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="" class="products__addit-description">
          <svg class="products__arrow-right" width="32px" height="32px">
            <use href="./images/products/icons.svg#arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
