<section class="products">
  <div class="products__container container">
    <p class="products__top-label">100% natural</p>
    <h2 class="products__header">products</h2>
    <ul class="products__elements">
        <li class="products__element">
            <h3 class="products__element-name">
                ice cream
            </h3>
             <svg class="products__three-dots" width="24px" height="16px">
            <use href="./images/icons.svg#three-dots"></use>
          </svg>


        </li>
        </ul>
    </div>
  </div>
</section>
