.modal-btn-rose {
  border: 0;
  margin: 0;
  padding: 15px 25px;
  background-color: var(--accent-text-color);
  border-radius: 20px;
  color: var(--primary-text-color);
  min-width: 62px;
  min-height: 24px;
  cursor: pointer;
}

.modal-btn-white {
  border: 0;
  margin: 0;
  padding: 15px 25px;
  background-color: var(--primary-text-color);
  border-radius: 20px;
  min-width: 83px;
  min-height: 24px;
  cursor: pointer;
}
