.about {
  background-color: rgba(255, 245, 246, 1);
}
.about__label {
  font-family: titan One;
  color: rgba(255, 165, 186, 1);
  font-size: 18px;
  line-height: 1.14;
  font-weight: 400;
  margin: 0 auto;
}
.about__label-piece {
  align-items: center;
  margin: 0 auto;
}
.list {
  list-style: none;
}
.about__title {
  font-family: titan One;
  color: rgba(212, 20, 67, 1);
  font-size: 34px;
  line-height: 1.14;
  font-weight: 400;
}
.about__main-text {
  font-family: var(--primary-text-family);
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  line-height: 1.62;
  font-weight: 500;
}
.about__text {
  color: var(--description-text-color);
  font-family: var(--primary-text-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
}
.about__point {
  color: var(--accent-text-color);
  font-family: titan One;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
}
.about__point-text {
  color: var(--accent-text-color);
  font-family: var(--primary-text-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
}
.about__button {
  width: 176px;
  height: 44px;
  color: var(--accent-text-color);
  font-family: var(--primary-text-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
}
