.products__top-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.14;
  font-family: var(--secondary-text-family);
  color: var(--subtitle-text-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.products__header {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.145;
  font-family: var(--secondary-text-family);
  color: var(--accent-text-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 144px;
}

.product-one,
.product-two,
.product-three {
  border-radius: 24px;
  height: 485px;
}

.product-one {
  background: var(--bg-product-one-color);
}

.product-two {
  background: var(--bg-product-two-color);
}

.product-three {
  background: var(--bg-product-three-color);
}

.products__list {
  text-align: center;
}

.products__element {
  position: relative;
  padding-top: 161px;
  padding-bottom: 40px;
  &:not(:last-child) {
    margin-bottom: 130px;
  }
}

.products__element-name {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  font-family: var(--secondary-text-family);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.description-container {
  padding-top: 30px;
  position: relative;
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.description-link {
  padding-bottom: 40px;
}

.products__description {
  padding: 0 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  /*   margin-bottom: 40px; */
}

.products__element-name::before {
  position: absolute;
  display: block;
  top: -115px;
  content: '';
  width: 249px;
  height: 252px;

  left: 50%;
  transform: translate(-50%);

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.product-one-pic::before {
  background-image: url(../images/products/product-1-mob@1x.png);

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/products/product-1-mob@2x.png);
  }
}

.product-two-pic::before {
  background-image: url(../images/products/product-2-mob@1x.png);

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/products/product-2-mob@2x.png);
  }
}

.product-three-pic::before {
  background-image: url(../images/products/product-3-mob@1x.png);

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/products/product-3-mob@2x.png);
  }
}

/* .products__element-name::before {
  display: block;
  content: '';
  width: 249px;
  height: 252px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  background-image: url(../images/products/product-1-mob@1x.png);

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/products/product-1-mob@2x.png);
  } */
/* 
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-hero-768.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-hero-768@2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-hero-1600.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-hero-1600@2x.jpg);
  } */
/* } */

.products__description::before {
  position: absolute;
  display: block;
  top: 0;
  content: '';
  width: 26px;
  height: 6px;

  left: 50%;
  transform: translate(-50%);
  background-image: url(../images/products/three-dots.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  fill: black;
}

.products__addit-description {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--primary-text-color);
  fill: var(--accent-text-color);
  margin: 0 auto;
  padding: 12px 12px;
  transition: fill 250ms linear, background-color 250ms linear;
  &:hover {
    fill: var(--primary-text-color);
    background-color: var(--accent-text-color);
  }
}
.container {
  border: 1px solid green;
}

.description-link {
  padding-bottom: 50px;
}
