<section class="about " id='how-its-made'>
    <div class="container">
    <div class="about__label-piece">
<p class="about__label">tradition and love</p>
<h2 class="about__title">how it’s made?</h2>
</div>
<div class="about__main">
    <picture class="about__main-pic">        
        <source srcset="./images/about/cow.web.webp 1x, ./images/about/cow@2x.webp 2x" media="(min-width:1280px)" type="image/webp">
        <source srcset="./images/about/cow.png 1x, ./images/about/cow@2x.png 2x" media="(min-width:1280px)">
        <source srcset="./images/about/cow-tab.webp 1x, ./images/about/cow-tab@2x.webp 2x" media="(min-width:768px)" type="image/webp">
        <source srcset="./images/about/cow-tab.png 1x, ./images/about/cow-tab@2x.png 2x" media="(min-width:768px)">
        <source srcset="./images/about/cow-mob.webp 1x, ./images/about/cow-mob@2x.webp 2x" media="(max-width:767px)"
            type="image/webp">
        <source srcset="./images/about/cow-mob.png 1x, ./images/about/cow-mob@2x.png 2x" media="(max-width:767px)">
  <img class="about__image" src="./images/about/cow.png">
</picture>
<div class="about__text-block">
<p class="about__main-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
Maecenas eleifend erat at justo fringilla.</p>
<p class="about__text">
Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
</P>
<P class="about__text-last-line">
Aliquam erat volutpat. Aenean accumsan.
</p>

<button type="button" class="about__button" data-modal-about-open >Read more
<svg class="about__icon-arrow" width="10px" height="18px">
    <use href="./images/sprite.svg#icon-right-arrow"></use>
</svg>
</button>
</div>
</div>
<div class="about__point-block">
<ul class="list point-summary">
    <li class="about__point-list">
    <svg class="about__icon-pic" width="50px" height="50px">
        <use href="./images/sprite.svg#icon-milking"></use>
    </svg>
    <p class="about__point first-point"  data-max="721">0</p>
    <p class="about__point-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li> 
    <li class="about__point-list">
        <svg class="about__icon-pic" width="50px" height="50px">
            <use href="./images/sprite.svg#icon-bucket"></use>
        </svg>
        <div class="about__point-kg-block">
        <p class="about__point second-point"  data-max="16">0</p><span class="about__kg">kg</span></div>
        <p class="about__point-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="about__point-list">
    <svg class="about__icon-pic" width="50px" height="50px">
        <use href="./images/sprite.svg#icon-cardio"></use>
    </svg>
        <p class="about__point third-point" data-max="84">0</p>
        <p class="about__point-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
</ul>
</div>
</div>
</div>
</section>