
    <div class="hero-header">
      <header class="header">
            <div class="container header-container">
              <nav class="nav">
                <a href="https://iuriibilonog.github.io/html-css-project/" class="header__logo">
                  <picture>
                    <source srcset="./images/header/logo.png 1x, ./images/header/logo@2x.png 2x">
                    <img src="#" alt="Icecream" width="199" height="50" />
                  </picture>
                </a>
                <ul class="nav__list list" id='header-links'>
                  <li class="nav__item">
                    <a href="#home" class="nav__link current-link">Home</a>
                  </li>
                  <li class="nav__item">
                    <a href="#how-its-made" class="nav__link">About us</a>
                  </li>
                  <li class="nav__item">
                    <a href="#how-its-made" class="nav__link">How it’s made?</a>
                  </li>
                  <li class="nav__item">
                    <a href="#our-products" class="nav__link">Our products</a>
                  </li>
                  <li class="nav__item">
                    <a href="#contact" class="nav__link">Contact</a>
                  </li>
                </ul>
              </nav>
              <div class="header__button-block">
                <button class="burger-button" data-menu-open>
                  <svg class="burger-button__icon" width="20" height="12">
                    <use href="./images/sprite.svg#icon-burger"></use>
                  </svg>
                </button>
                <button type="button" class="header__button" data-modal-header-1-open>
                  Buy now
                  <svg class="mobile-menu__button-icon" width="8" height="16">
                    <use href="./images/sprite.svg#icon-more"></use>
                  </svg>
                </button>
              </div>
              <div class="mobile-backdrop is-hidden" data-menu>
                <div class="mobile-menu">
                  <div class="container">
                    <button class="mobile-menu__close" data-menu-close>
                      <svg class="mobile-menu__close-icon" width="14" height="14">
                        <use href="./images/sprite.svg#icon-close"></use>
                      </svg>
                    </button>
                    <button type="button" class="mobile-menu__button" data-modal-header-2-open>
                      Buy now
                      <svg class="mobile-menu__button-icon" width="8" height="16">
                        <use href="./images/sprite.svg#icon-more"></use>
                      </svg>
                    </button>
                    <ul class="mobile-menu__list list">
                      <li class="mobile-menu__item">
                        <a href="#home" class="mobile-menu__link current-link">Home</a>
                      </li>
                      <li class="mobile-menu__item">
                        <a href="#about-us" class="mobile-menu__link">About us</a>
                      </li>
                      <li class="mobile-menu__item">
                        <a href="#how-its-made" class="mobile-menu__link">How it’s made?</a>
                      </li>
                      <li class="mobile-menu__item">
                        <a href="#our-products" class="mobile-menu__link">Our products</a>
                      </li>
                      <li class="mobile-menu__item">
                        <a href="#contact" class="mobile-menu__link">Contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </header>

          <section class="hero">

            <div class="hero__thumb container">
              
                <div class="hero__information">
            <h1 class="hero__title">ice cream made with <span class="hero__title-end">passion</span></h1>
            <ul class="hero__btn-list" id='hero-buttons'>
              <li class="hero__btn-item"><a class="hero__btn-rose modal-btn-rose" href="#our-products">Products</a></li>
              <li class="hero__btn-item"><a class="hero__btn-white modal-btn-white" href="#how-its-made">How it’s made?</a></li>
            </ul>
            </div>
            <ul class="hero__representations">
              <li class="hero__representations-thumb representations-cafe">
                <p class="representations-number" data-duration="1500">16</p>
                <p class="representations-type">cafes</p>
              </li>
              <li class="hero__representations-thumb representations-trucks">
                
                <p class="representations-number" data-duration="1500">23</p>
                <p class="representations-type">food trucks</p>
                
              </li>
            </ul>
            <picture class="hero__milk-img">
            
              <source srcset="./images/hero/hero-milk-desktop.webp 1x, ./images/hero/hero-milk-desktop@2x.webp 2x"
                media="(min-width: 1280px)" type="image/webp">
              <source srcset="./images/hero/hero-milk-desktop.png 1x, ./images/hero/hero-milk-desktop@2x.png 2x"
                media="(min-width: 1280px)">
            
              <source srcset="./images/hero/hero-milk-tablet.webp 1x, ./images/hero/hero-milk-tablet@2x.webp 2x"
                media="(min-width: 768px)" type="image/webp">
              <source srcset="./images/hero/hero-milk-tablet.png 1x, ./images/hero/hero-milk-tablet@2x.png 2x"
                media="(min-width: 768px)">
            
              <img src="#" alt="Milk">
            
            
            </picture>
            <div class="hero__desc-thumb">
              <p class="hero__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et</p>
              <button class="hero__desc-btn" type="button" data-modal-hero-open>
                <svg class="header__icon-arrow" width="10" height="10">
                  <use href="./images/sprite.svg#arrow-right"></use>
                </svg>
              </button>
            </div>

            <picture class="hero__girl-img">
            
              <source srcset="./images/hero/girl-desktop.webp 1x, ./images/hero/girl-desktop@2x.webp 2x" media="(min-width: 1280px)"
                type="image/webp">
              <source srcset="./images/hero/girl-desktop.png 1x, ./images/hero/girl-desktop@2x.png 2x" media="(min-width: 1280px)">
            
              <source srcset="./images/hero/girl-tablet.webp 1x, ./images/hero/girl-tablet@2x.webp 2x" media="(min-width: 768px)"
                type="image/webp">
              <source srcset="./images/hero/girl-tablet.png 1x, ./images/hero/girl-tablet@2x.png 2x" media="(min-width: 768px)">
            
              <img src="#" alt="girl with icr cream">
            
            
            </picture>
            <div class="bg-elipse">
            <picture class="hero__ice-cream-img">
            
              <source srcset="./images/hero/ice-cream-desktop.webp 1x, ./images/hero/ice-cream-desktop@2x.webp 2x"
                media="(min-width: 1280px)" type="image/webp">
              <source srcset="./images/hero/ice-cream-desktop.png 1x, ./images/hero/ice-cream-desktop@2x.png 2x"
                media="(min-width: 1280px)">
            
              <source srcset="./images/hero/ice-cream-tablet.webp 1x, ./images/hero/ice-cream-tablet@2x.webp 2x"
                media="(min-width: 768px)" type="image/webp">
              <source srcset="./images/hero/ice-cream-tablet.png 1x, ./images/hero/ice-cream-tablet@2x.png 2x"
                media="(min-width: 768px)">
            
              <source srcset="./images/hero/ice-cream-mobile.webp 1x, ./images/hero/ice-cream-mobile@2x.webp 2x"
                media="(max-width: 767px)" type="image/webp">
              <source srcset="./images/hero/ice-cream-mobile.png 1x, ./images/hero/ice-cream-mobile@2x.png 2x"
                media="(max-width: 767px)">
            
              <img src="#" alt="Ice Cream">
            
            
            </picture>
            
            
            
            

            </div>
            </div>
    
</section>
</div>