<section class="products" id="our-products">
  <div class="products__container container">
    <!-- <button class="modal-team" type="button" data-modal-team-open>ЖМИ НА НАШУ ТИМУ</button> -->

    <p class="products__top-label">100% natural</p>
    <h2 class="products__header">products</h2>
    <ul class="products__list">
      <li class="products__element product-one">
        <h3 class="products__element-name product-one-pic">ice cream</h3>
        <div class="description-container">
          <p class="products__description">
            Ice cream is a sweetened frozen food typically eaten as a snack or dessert.
          </p>
          <!--           <div class="description-link"> -->
          <!-- <a href="" class="products__addit-description"> -->
          <button class="products__addit-description" type="button" data-modal-product-1-open>
            <svg class="products__arrow-right" width="16px" height="16px">
              <use href="./images/products/icons.svg#arrow-right"></use>
            </svg>
          </button>

          <!-- </a> -->
          <!--           </div> -->
        </div>
      </li>
      <li class="products__element product-two">
        <h3 class="products__element-name product-two-pic">ice coffee</h3>
        <div class="description-container">
          <p class="products__description">
            Iced coffee is a coffee beverage served cold. It may be prepared by brewing coffee in
            the normal way and then serving it over ice.
          </p>
          <!--           <div class="description-link"> -->
          <button class="products__addit-description" type="button" data-modal-product-2-open>
            <svg class="products__arrow-right" width="16px" height="16px">
              <use href="./images/products/icons.svg#arrow-right"></use>
            </svg>
          </button>
          <!--           </div> -->
        </div>
      </li>
      <li class="products__element product-three">
        <h3 class="products__element-name product-three-pic">milkshakes</h3>
        <div class="description-container">
          <p class="products__description">
            A milkshake is a sweet drink made by blending milk, ice cream, caramel sauce, chocolate
            syrup, fruit syrup into a thick, sweet, cold mixture.
          </p>
          <!--           <div class="description-link"> -->
          <button class="products__addit-description" type="button" data-modal-product-3-open>
            <svg class="products__arrow-right" width="16px" height="16px">
              <use href="./images/products/icons.svg#arrow-right"></use>
            </svg>
          </button>
          <!--           </div> -->
        </div>
      </li>
    </ul>
  </div>
</section>
